{% load static %} {% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Monitora - Monitoramento de ativos</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% bootstrap_css %}
  </head>
  <body>
    <header>{% include "navbar.html"%}</header>
    <section class="contentBody">
      <div class="contentBlock">{% block content %}{% endblock %}</div>
    </section>
    {% bootstrap_javascript jquery='full' %}
  </body>
</html>
