{% extends 'index.html' %} {% load bootstrap4 %} {%block content%}
<div class="container d-flex card shadow-sm mt-3" style="max-width: 20rem">
  <h1 class="card-header">Novo ativo</h1>
  <div class="card-body">
    <div>
      <form method="post">
        {% csrf_token %} {% bootstrap_form form %} {% buttons %}
        <button class="btn btn-primary" type="submit">Salvar</button>
        <button class="btn btn-warning" type="submit">
          <a href="{% url 'index' %}">Cancelar</a>
        </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
